

<% if notice %>
 <p class="alert alert-success" role="alert"><%= notice %></p>
 <% end %>

<div class = "page-header">
  <%= link_to 'Edit', edit_task_path(@task[:id]), class: "btn btn-info pull-right" %>
<h1><%= @task.description %></h1>
</div>
<div class="form-horizontal">
  <%= link_to "Tasks", tasks_path %> >
  <class="active">New Task
</div>
